*{margin: 0;
  padding: 0;
}

body{
	margin-top: 0px;
}

/* para centralizar o menu na tela */
div{
	width: 1150px;
	margin: 0 auto;
}

/* classes começam com ponto final */
.menu{
	position: fixed;
	position: fixed;
	z-index: 2;
	list-style: none;
	border: 0px solid white;
	float: left;
	font-family: arial, helvetia, sans-serif;
	font-size: 20px;
	background: white;
	border-radius: 10px;
}
	

.menu li{
	
	position: relative;
	float: left;
	border-right: 1px solid white;
/* text-shadow: 1px 2px 4px red; */
	
}
.icon{
	height: 100px;
	width: 100px;
}

.menu li a {
	color: #333333;
	text-decoration: none;
	padding: 30px 60px;
	/* quando não definido o modo de exibição pode ocorrer falha indesejável ao 
	exibir  elemento */
	display: block;
	
	
	/* remover o display block */
	
}

.menu li a:hover{
	background: white;
	color: blue;
	border-radius: 10px;
}

.menu ul{
	position: absolute;
	top: 25px;
	left: 0px;
	right: 0px;
	background-color: #ffffff;
	display: none;
}

.menu li:hover ul{
	display: block;
}

.menu li ul li{
	border: 0px solid #ffffff;
	/*display: block; */
	list-style: none;
	width: 150px;
}

#secprincipal {
	width:100%;
	height:100%;
	margin:0 auto;
}

.divisoes {
	width:24.3%;
	display:inline-block;
	background-color:#ffffff;
	border:0px black;
	text-align:center;
}

@media screen and (min-width:320px) and (max-width:570px){
	.divisoes {
		width:100%;
		float:none;
	}
}

@media screen and (max-width: 1214px){
	#secprincipal {
		background-color:#ffffff;
	}
}

.fixmenu {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
}
.fotos{
height:300px;
width:300;
}

.foto{
  max-width: 100%;
}
.bloco {
  width: 300px;
  margin: 15px;
}
.bloco img{
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.bloco img:hover {
  -webkit-transform:scale(1.2);
  transform:scale(1.2);
}

.box-btn { text-align:center; }
			.btn {
			  position: relative;
			  display: inline-block;
			  cursor: pointer;
			  outline: none;
			  border: 0;
			  vertical-align: middle;
			  text-decoration: none;
			  font-size: inherit;
			  font-family: inherit;
			}
			.btn.elastico {
			  
			  transition: all 0.6s cubic-bezier(0.65, -0.25, 0.25, 1.95);
			  font-size:0.9em;
			  font-family: 'open_sansregular';
			  color: #fff;
			  padding: 0.3em 2.6em;
			  background: #038cfc;
			  
			}
			.btn.elastico:hover, .btn.elastico:focus, .btn.elastico:active {
			  
			  letter-spacing: 0.220rem;
			}
			
			