*{margin: 0;
  padding: 0;
}

body{
	margin-top: 0px;
}

/* para centralizar o menu na tela */
div{
	width: 1150px;
	margin: 0 auto;
}

/* classes começam com ponto final */
.menu{
	position: fixed;
	position: fixed;
	z-index: 2;
	list-style: none;
	border: 1px solid white;
	float: left;
	font-family: arial, helvetia, sans-serif;
	font-size: 20px;
	
	
}
	

.menu li{
	
	position: relative;
	float: left;
	border-right: 1px solid white;
/* text-shadow: 1px 2px 4px red; */
	
}
.icon{
	height: 100px;
	width: 100px;
}

.menu li a {
	color: #333333;
	text-decoration: none;
	padding: 30px 60px;
	/* quando não definido o modo de exibição pode ocorrer falha indesejável ao 
	exibir  elemento */
	display: block;
	
	
	/* remover o display block */
	
}

.menu li a:hover{
	background: white;
	color: blue;
}

.menu ul{
	position: absolute;
	top: 25px;
	left: 0px;
	background-color: #ffffff;
	display: none;
}

.menu li:hover ul{
	display: block;
}

.menu li ul li{
	border: 1px solid #c0c0c0;
	/*display: block; */
	list-style: none;
	width: 150px;
}

#secprincipal {
	width:100%;
	height:100%;
	margin:0 auto;
}

.divisoes {
	width:24.3%;
	display:inline-block;
	background-color:#ffffff;
	border:3px black;
	text-align:center;
}

@media screen and (min-width:320px) and (max-width:570px){
	.divisoes {
		width:100%;
		float:none;
	}
}

@media screen and (max-width: 1214px){
	#secprincipal {
		background-color:#ffffff;
	}
}

.fixmenu {
	position: -webkit-sticky;
	position: sticky;
	top: 0;
	z-index: 2;
}